*.suo
*.sdf
*.pdb
*.idb
/AGV 5.2/AGV/ipch
x64
Debug
eklavya
testBot
*.vcproj.*.user
*.ncb
*.aps
*.opensdf
/build/
/Logs/
/nbproject/
/CMakeFiles/
CMakeCache.txt
.gitignore~
cmake_install.cmake
bin
lib
Makefile
*.*~
CMakeFiles
.project
.cproject
.settings

