<launch>
  <!-- start gazebo with an empty plane -->
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo" type="gazebo" args="-u $(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen"/>
  <node name="gazebo_gui" pkg="gazebo" type="gui" respawn="false" output="screen"/> 


 <param name="robot_description" command="$(find xacro)/xacro.py '$(find int)/urdf/int1.xacro'"/>

<node name="spawn_eklavya_model" pkg="gazebo" type="spawn_model" args="$(optenv ROBOT_INSTALL_POSE) -unpause -urdf -param robot_description -model eklavya_robot" respawn="false" output="screen"/>

  <!-- <include file="$(find eklavya_gazebo)/launch/robot.launch"/> -->
</launch>
