<?xml version="1.0"?>
<launch>
 <arg name="map_file" default="$(find eklavya_navigation)/maps/map.yaml"/>
 <param name="local_costmap/global_frame" value="/odom_combined"/>

 <include file="$(find eklavya_gazebo)/launch/simple_office.launch" />
 <include file="$(find eklavya_gazebo)/launch/robot.launch" />

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
  <include file="$(find eklavya_navigation)/config/amcl_eklavya.xml" />
 <!--- <node pkg="amcl" type="amcl" name="amcl">
    <param name="odom_frame_id" value="odom_combined"/>
  </node> -->


  <!--- Run Move Base -->
  <include file="$(find eklavya_navigation)/config/move_base_eklavya.xml" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find eklavya_navigation)/nav_rviz.vcg" />
  
  	<!-- keyboard teleoperation -->
	<node name="teleop" pkg="eklavya_teleop" type="eklavya_keyboard_teleop" />
</launch>
