<?xml version="1.0"?>
<launch>
 <param name="local_costmap/global_frame" value="/odom_combined"/>
 <include file="$(find eklavya_gazebo)/launch/simple_office.launch" />
 <include file="$(find eklavya_gazebo)/launch/robot.launch" />
 
  <!--- Run gmapping -->
  <include file="$(find eklavya_navigation)/config/gmapping_eklavya.launch" />

  <!--- Run Move Base -->
  <include file="$(find eklavya_navigation)/config/move_base_eklavya.launch" />
  
	
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ros_liv_turtlebot)/nav_rviz.vcg" />
  
  	<!-- keyboard teleoperation -->
	<node name="teleop" pkg="eklavya_teleop" type="eklavya_keyboard_teleop" />

</launch>
