<?xml version="1.0"?>
<robot name="eklavya_hardware" xmlns:xacro="http://ros.org/wiki/xacro">
<!-- Properties (Constants) -->
    <property name="M_PI" value="3.14159"/>
    
    <property name="base_size_x" value="0.217" />
    <property name="base_size_y" value="0.280" />
    <property name="base_size_z" value="0.155" />
    
    <property name="top_size_x" value="0.3937" />
    <property name="top_size_y" value="0.3556" />
    <property name="top_size_z" value="0.0020" />
    
    <property name="wheel_radius" value="0.0346" />
    <property name="wheel_length" value="0.02" />
    <property name="caster_wheel_offset_y" value="0.27" />

  <!-- Macro for eklavya body. Including Gazebo extensions, but does not include Kinect -->
  <include filename="$(find eklavya_description)/urdf/gazebo.urdf.xacro"/>
  <include filename="$(find eklavya_description)/urdf/materials.urdf.xacro"/>
  <include filename="$(find eklavya_description)/urdf/eklavya_hardware.xacro.xacro"/>
  <include filename="$(find eklavya_description)/urdf/eklavya_wheel.xacro"/>
  <include filename="$(find eklavya_description)/urdf/hokuyo_urg.xacro"/>

  <xacro:macro name="eklavya_body">
    <!--Dummy base without INERTIA because base_link is not supposed to have inertia-->
    <link name="base_footprint">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </visual>
    </link>

    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0.0 0 0.5" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint>

    <!-- Links and Joints (i.e., the robot) -->
    <link name="base_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
          iyy="1.0" iyz="0.0" 
          izz="1.0" />
      </inertial>

      <visual>
        <eklavya_base_link_mesh />
      </visual>

      <collision>
        <eklavya_base_link_mesh />
      </collision>

    </link>

    <gazebo_eklavya_base_link_surface />

    <joint name="base_center_of_mass_joint" type="fixed">
      <origin xyz="-0.1 0 -0.075" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="base_center_of_mass_link" />
    </joint>

    <link name="base_center_of_mass_link">
      <inertial>
        <mass value="30" />
        <origin xyz="0 0 0" />
        <inertia ixx="1.0" ixy="0.0" ixz="0.0"
          iyy="1.0" iyz="0.0" 
          izz="1.0" />
      </inertial>
    </link>


    <eklavya_wheel suffix="left" parent="base_link">
      <origin xyz="-0.2 0.335 -0.303" rpy="0 0 0" />
    </eklavya_wheel>

  
    <eklavya_wheel suffix="right" parent="base_link">
      <origin xyz="-0.2 -0.335 -0.303" rpy="0 0 0" />
    </eklavya_wheel>
    
	<eklavya_bar suffix="left" parent="base_link">
      <origin rpy="0 0 0" xyz="0.26 0.26 0.575"/>
	</eklavya_bar>
    
	<eklavya_bar suffix="right" parent="base_link">
      <origin rpy="0 0 0" xyz="0.26 -0.26 0.575"/>
	</eklavya_bar>
     
	<eklavya_bar suffix="top" parent="base_link">
      <origin rpy="0 0  ${M_PI/2}" xyz="0.26 0 0.89"/>
	</eklavya_bar>   
    <castor_support suffix="front" parent="base_link">
      <origin rpy="0 0 0" xyz="0.36 0 -0.255"/>
	</castor_support> 
	
	<caster_support_hinge suffix="front" parent="base_link">
      <origin xyz="0.36 0 -0.275" rpy="0 0 0" />
	</caster_support_hinge> 

    <caster_wheel suffix="front" parent="base_link">
      <origin xyz="-0.0397 0 -0.0918" rpy="0 0 0" />
	</caster_wheel> 
 


    
    <!--Links for sensor integration-->
    <!--IMU link-->
   <!-- <link name="IMU_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                  iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
-->
    <!--BumbleBee link-->
   <!-- <link name="BumbleBee_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
 -->
    <!--LIDAR link-->
    <!--<link name="LIDAR_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
-->
    <!--GPS link-->
   <!-- <link name="GPS_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
-->
 
   

    <!--Joint for IMU-->
   <!-- <joint name="IMU_sensor_joint" type="fixed">
      <origin xyz="0.26 0.26 0.275" rpy="0 0 -1.0" />        
      <parent link="base_link"/>
      <child link="IMU_sensor_link" />
    </joint>
-->
    <!--Joint for BumbleBee Sterio Camera-->
   <!-- <joint name="BumbleBee_sensor_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0.26 0.89"/>        
      <parent link="base_link"/>
      <child link="BumbleBee_sensor_link" />
    </joint>
-->
    <!--Joint for LIDAR-->
   <!-- <joint name="LIDAR_sensor_joint" type="fixed">
      <origin xyz="0 0.375 -0.3" rpy="0 0 -1.0" />        
      <parent link="base_link"/>
      <child link="LIDAR_sensor_link" />
    </joint>
-->
   
   
    <!--Joint for GPS-->
    <!--
    <joint name="GPS_sensor_joint" type="fixed">
      <origin xyz="-0.26 0.26 0.275" rpy="0 0 -1.0" />        
      <parent link="base_link"/>
      <child link="GPS_sensor_link" />
    </joint> -->

    <gazebo_segbot_drive_plugin2 />
    <hokuyo_urg name="hokuyo_laser" parent="base_link" >
      <origin rpy="0 0 0" xyz="0.36 0 -0.245"/>
    </hokuyo_urg>
    
    <!-- Simulation sensors -->
    <!--<eklavya_sim_imu/>

      -->

  </xacro:macro>
</robot>

