<?xml version="1.0"?>
<robot name="eklavya_hardware" xmlns:xacro="http://ros.org/wiki/xacro">


  <!-- Macro for eklavya body. Including Gazebo extensions, but does not include Kinect -->
  <include filename="$(find eklavya_description)/urdf/gazebo.urdf.xacro"/>
  <include filename="$(find eklavya_description)/urdf/materials.urdf.xacro"/>
  <include filename="$(find eklavya_description)/urdf/eklavya_wheel.xacro"/>
  <xacro:macro name="eklavya_body">
    <!--  INSERT YOU MODEL HERE -->
      
    <!--Dummy base without INERTIA because base_link is not supposed to have inertia-->
    <link name="base_footprint">
    <!--
    <inertial>
      <mass value="0.0001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
               iyy="0.0001" iyz="0.0" 
               izz="0.0001" />
      </inertial>
    -->
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
        <material name="Green"/>      
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.017"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>
    
    <!--Base link with inertial properties to join with other links of the model-->
    <link name='base_link'>
      <origin rpy="0 0 3.14" xyz="0 0 .375"/>
      <inertial>
        <mass value="2.0001" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.5"/>
      </inertial>    
      <collision name='collision'>
        <geometry>
          <box size=".55 .55 .55"/>
        </geometry>
      </collision>

      <visual name='visual'>
        <geometry>
          <box size=".55 .55 .55"/>
         </geometry>
        <material name="GunMetalBrushedAluminum"/>     
      </visual>
    </link>
  
  
     <!-- left wheel -->
    <eklavya_wheel suffix="left" parent="base_link">
     <origin rpy="0 -1 0" xyz="-.375 -.275 -0.2"/>
    </eklavya_wheel>

    <!-- right wheel -->
    <eklavya_wheel suffix="right" parent="base_link">
      <origin rpy="0 0 0" xyz=".375 -.275 -.2"/>
    </eklavya_wheel>

    <!--Top of base_link supports-->
    <link name="base_link_support_1">  
      <origin rpy="0 0 0" xyz="0.26 0.26 0.575"/>
      <inertial>
        <mass value="2.0001" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.5"/>
      </inertial>
      <collision name='sc1'>
        <geometry>
          <box size=".03 .03 .6"/>
        </geometry>
      </collision>
      <visual name='sv1'>
        <geometry>
          <box size=".03 .03 .6"/>
        </geometry>
        <material name="Black"/>
      </visual>
    </link>

    <link name="base_link_support_2">
      <origin rpy="0 0 0" xyz="-0.26 0.26 0.575"/>
      <inertial>
        <mass value="2.0001" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.5"/>
      </inertial>
      <collision name='sc2'>
        <geometry>
          <box size=".03 .03 .6"/>
        </geometry>
      </collision>
      <visual name='sv2'>
        <geometry>
          <box size=".03 .03 .6"/>
        </geometry>
        <material name="White"/>
      </visual>
    </link>
 
    <link name="base_link_support_3">  
      <origin rpy="0 0 0" xyz="0 0.26 0.89"/>
      <inertial>
        <mass value="2.0001" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.5"/>
      </inertial>
      <collision name='sc3'>
        <geometry>
          <box size=".55 .03 .03"/>
        </geometry>
      </collision>
      <visual name='sv3'>
        <geometry>
          <box size=".55 .03 .03"/>
        </geometry>
        <material name="Red"/>
      </visual>
    </link>
  
    <!--Link for Castor Support-->
    <link name="castor_support">
      <origin rpy="0 0 0" xyz="0 0.375 -0.275"/>
      <inertial>
        <mass value="2.0001" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.5"/>
      </inertial>
      <collision name='extrusion_collision'>
        <geometry>
          <box size=".1 .2 .02"/>
        </geometry>
      </collision>
      <visual name='extrusion_visual'>
        <geometry>
          <box size=".1 .2 .02"/>
        </geometry>
        <material name="Blue"/>
      </visual>
    </link>
 
    <!--Link for Castor-->
    <link name="castor">
   	  <origin rpy="0 0 0" xyz="0 0.375 -0.325"/>
      <inertial>
        <mass value="2.0001" />
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.5"/>
      </inertial>
      <collision name='caster_collision'>
        <geometry>
          <sphere radius=".05"/>
        </geometry>
        <surface>
          <friction>
            <ode>
              <mu>0</mu>
              <mu2>0</mu2>
              <slip1>1.0</slip1>
              <slip2>1.0</slip2>
            </ode>
          </friction>
        </surface>
      </collision>
      <visual name='caster_visual'>
        <geometry>
          <sphere radius=".05"/>
        </geometry>
        <material name="Green"/>
      </visual>
    </link>
  
    
    <!--Links for sensor integration-->
    <!--IMU link-->
   <!-- <link name="IMU_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                  iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
-->
    <!--BumbleBee link-->
   <!-- <link name="BumbleBee_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
 -->
    <!--LIDAR link-->
    <!--<link name="LIDAR_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
-->
    <!--GPS link-->
   <!-- <link name="GPS_sensor_link">
      <inertial>
        <mass value="0.01" />
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0"
                 iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
    </link>
-->
    <!--JOINTS-->
    
    <!--Joining base_link and dummy base-->
    <joint name="base_footprint_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0 0.017"/>
      <parent link="base_footprint"/>
      <child link="base_link"/>
    </joint>
    
    <!--Creating fixed joints for base link supports-->
    <joint type="fixed" name="base_link_support_1_joint">
      <origin rpy="0 0 0" xyz="0.26 0.26 0.575"/>
      <parent link="base_link"/>
      <child link="base_link_support_1"/>
    </joint>
    
    <joint type="fixed" name="base_link_support_2_joint">
      <origin rpy="0 0 0" xyz="-0.26 0.26 0.575"/>
      <parent link="base_link"/>
      <child link="base_link_support_2"/>
    </joint>
    
    <joint type="fixed" name="base_link_support_3_joint">
      <origin rpy="0 0 0" xyz="0 0.26 0.89"/>
      <parent link="base_link"/>
      <child link="base_link_support_3"/>
    </joint>
    
    <!--Creating joint for Castor Support-->
    <joint type="fixed" name="castor_support_joint">
      <origin rpy="0 0 0" xyz="0 0.375 -0.275"/>
      <parent link="base_link"/>
      <child link="castor_support"/>
    </joint>
    
    <!--Creating joint for CASTOR-->
    <joint type="fixed" name="castor_joint">
      <origin rpy="0 0 0" xyz="0 0.375 -0.325"/>
      <parent link="base_link"/>
      <child link="castor"/>
    </joint>
    

    
    <!--Joint for IMU-->
   <!-- <joint name="IMU_sensor_joint" type="fixed">
      <origin xyz="0.26 0.26 0.275" rpy="0 0 -1.0" />        
      <parent link="base_link"/>
      <child link="IMU_sensor_link" />
    </joint>
-->
    <!--Joint for BumbleBee Sterio Camera-->
   <!-- <joint name="BumbleBee_sensor_joint" type="fixed">
      <origin rpy="0 0 0" xyz="0 0.26 0.89"/>        
      <parent link="base_link"/>
      <child link="BumbleBee_sensor_link" />
    </joint>
-->
    <!--Joint for LIDAR-->
   <!-- <joint name="LIDAR_sensor_joint" type="fixed">
      <origin xyz="0 0.375 -0.3" rpy="0 0 -1.0" />        
      <parent link="base_link"/>
      <child link="LIDAR_sensor_link" />
    </joint>
-->
    <!-- try  try try-->
  <!--  <joint name="hokuyo_laser_box_joint" type="fixed">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="LIDAR_sensor_link"/>
      <child link="hokuyo_laser_box_link"/>
    </joint>
    <link name="hokuyo_laser_box_link">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>-->
        <!-- box size="0.05 0.05 0.1" / -->
        <!--<mesh filename="package://meshes/collada/hokuyo_urg.dae" scale="0.5 0.5 0.5"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <box size="0.05 0.05 0.1"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="hokuyo_laser_box_link">
      <material>Gazebo/Magenta</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>-->
    <!-- try  try try-->
    
    
    
    
    
    
    <!--Joint for GPS-->
   <!-- <joint name="GPS_sensor_joint" type="fixed">
      <origin xyz="-0.26 0.26 0.275" rpy="0 0 -1.0" />        
      <parent link="base_link"/>
      <child link="GPS_sensor_link" />
    </joint>
-->
    <!--  INSERT YOU MODEL HERE -->
    <hokuyo_urg name="hokuyo_laser" parent="base_link" >
      <origin xyz="0 0.375 -0.3" rpy="0 1 0"/>
    </hokuyo_urg>
     
    <!-- Simulation sensors -->
    <!--<eklavya_sim_imu/>
    <eklavya_sim_laser/>
  
    <eklavya_sim_create/> 
    <eklavya_sim_wall_sensors/>-->

  </xacro:macro>
</robot>

