<?xml version="1.0"?>

<launch>

  <node pkg="rosbag" type="play" name="rosbagplay" args=" -d 3 -l /home/jit/bagfiles/2013-03-20-13-35-58.bag" >
    <remap from="scan_filtered" to="/scan_filter_old"/>
  </node>
<!--2013-03-20-13-35-58.bag  /home/jit/bagfiles/laser1.bag--> 

  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
      name="laser_filter">
    <rosparam command="load" file="$(find eklavya_node)/laser_config_ScanShadowsFilter.yaml" />
    <!--<remap from="scan" to="base_scan" />-->
  </node>


   <node pkg="eklavya_node" type="eklavya_node" name="eklavya_node" args="3" output="screen" cwd="node" /> 

  
</launch>
