<?xml version="1.0"?>

<launch>
  <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo_node" output="screen">
    <param name="min_ang" value=" -2.2689" />
    <param name="max_ang" value="  2.2689" />
  </node>

  <node pkg="eklavya_node" type="eklavya_node" name="eklavya_node" args="0" output="screen"/>
</launch>
  
