<launch>

  <arg name="gzname" default="gazebo"/>
  <param name="/use_sim_time" type="bool" value="true"/>

  <!-- start gazebo with the DRC Robot -->
  <node name="gazebo" pkg="eklavya1" type="run_$(arg gzname)" args="/home/jit/.gazebo/worlds/eklavya.world"/>

  <!-- Robot Description -->
  <param name="robot_description" textfile="/home/jit/.gazebo/models/eklavya_robot/model.sdf"/>
  
</launch>
